@charset "utf-8";
.body .bodyContent .num1 { left:606px; top:0;}										.body .bodyContent .num1 img { width:172px; height:230px;}
.body .bodyContent .num2 { left:808px; top:0; height:530px;}						.body .bodyContent .num2 img { width:172px; height:510px;}
.body .bodyContent .num3 { left:202px; top:0; width:374px;}							.body .bodyContent .num3 img { width:374px; height:230px;}
.body .bodyContent .num4 { left:202px; top:560px; width:374px;}						.body .bodyContent .num4 img { width:374px; height:230px;}
.body .bodyContent .num5 { left:202px; top:280px;}									.body .bodyContent .num5 img { width:172px; height:230px;}
.body .bodyContent .num6 { left:0; top:840px; height:530px;}						.body .bodyContent .num6 img { width:172px; height:510px;}
.body .bodyContent .num7 { left:0; top:280px;}										.body .bodyContent .num7 img { width:172px; height:230px;}
.body .bodyContent .num8 { left:404px; top:280px; width:374px;}						.body .bodyContent .num8 img { width:374px; height:230px;}
.body .bodyContent .num9 { left:0; top:560px;}										.body .bodyContent .num9 img { width:172px; height:230px;}
.body .bodyContent .num10{ left:606px; top:560px; width:374px; height:110px;}		.body .bodyContent .num10 img{ width:374px; height:90px;}
.body .bodyContent .num11{ left:404px; top:840px; width:374px;}						.body .bodyContent .num11 img{ width:374px; height:230px;}
.body .bodyContent .num12{ left:202px; top:840px;}									.body .bodyContent .num12 img{ width:172px; height:230px;}
.body .bodyContent .num13{ left:606px; top:700px; height:110px;}					.body .bodyContent .num13 img{ width:172px; height:90px;}
.body .bodyContent .num14{ left:0; top:1400px;}										.body .bodyContent .num14 img{ width:172px; height:230px;}
.body .bodyContent .num15{ left:808px; top:700px; height:390px;}					.body .bodyContent .num15 img{ width:172px; height:370px;}
.body .bodyContent .num16{ left:808px; top:1120px; height:530px;}					.body .bodyContent .num16 img{ width:172px; height:510px;}
.body .bodyContent .num17{ left:202px; top:1120px; width:374px;}					.body .bodyContent .num17 img{ width:374px; height:230px;}
.body .bodyContent .num18{ left:404px; top:1400px; width:374px;}					.body .bodyContent .num18 img{ width:374px; height:230px;}
.body .bodyContent .num19{ left:606px; top:1120px;}									.body .bodyContent .num19 img{ width:172px; height:230px;}
.body .bodyContent .num20{ left:202px; top:1400px;}									.body .bodyContent .num20 img{ width:172px; height:230px;}



