@charset "utf-8";
#fancybox-wrap,
#fancybox-mag,
#fancybox-pic,
#fancybox-eve,
#fancybox-overlay { position: absolute; top:0; left:0; z-index:1101; display:none;}
#fancybox-overlay { z-index:1100;}
#fancybox-content { width:0; height:0; position:relative; overflow:hidden; z-index:1102; }
.pop{ display:none; margin:20px auto; border:none; background:#fff; box-shadow:0px 3px 5px rgba(0,0,0,0.3); }
.pop a.del{ width:35px; height:35px; display:block; background:url(../images/popClose.gif) 0 0 no-repeat; position:absolute; right:0; top:0; cursor:pointer; z-index: 1103;}
.pop a.del:hover{ background-position:0 -35px;}
.popContent{ padding:15px; background:#fff; display:none;}
.popContent h6{ height:22px; line-height:16px; margin-bottom:6px; font-size:14px; color:#333; font-weight:normal; }
.popContent fieldset div{ padding:6px 0;}
.popContent fieldset div.important{ background-color:#f5f5f5;}
.popContent fieldset div em.title{ padding-right:5px;}
.popContent textarea.input{ height:auto;}
.popContent fieldset.new h6{ height:30px; line-height:20px; font-size:20px;}


#sinaWeibo{ width:760px;}
#sinaWeibo .link{ margin-left:-10px; width:770px; height:160px; overflow:hidden;}
#sinaWeibo .link a{ width:100px; display:block; float:left; overflow:hidden; margin-left:10px;}
#sinaWeibo .link a img{ width:100px; height:100px; display:block;}
#sinaWeibo .link a strong{ height:20px; line-height:20px; display:block; text-align:center;}
#sinaWeibo .link a span{ height:20px; line-height:19px; width:70px; display:block; text-align:center; margin:10px auto 0 auto; background:#e3ffd5; color:#389a0a; border:1px solid #d5f7c5}
#sinaWeibo .link a:hover span{ background:#81d300; color:#fff; border-color:#4ec000}


#sinaWeiboFarward{ width:320px;}
#sinaWeiboFarward textarea{ width:300px; height:100px;}



