@charset "utf-8";
@import url("jquery.colorpicker.css");
@import url("pop.css");
html{ height:100%;}
body{ height:100%; background:#eee; padding-top:0; min-width:800px; min-height:600px;}




/*link*/
a			{text-decoration:none;cursor:pointer; font-family:\5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif; }
a:link 		{color:#08c;} 
a:visited	{color:#08c;}
a:active	{color:#333;star:expression(this.onFocus=this.blur());}
a:hover		{color:#333;}




.body{ zoom:1; margin:0 auto 20px auto; width:980px; background:#fff; box-shadow:4px 4px 1px rgba(0,0,0,0.05); border:1px solid #bbb; position:relative;}
.body:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.bodyHome{ background:none; box-shadow:none;}

.conB{border-top:0; margin:15px 0 0 0;}
.conB h2{ font-weight:bold; color:#000;}

em.icon16question{ width:16px; height:16px; display:inline-block; margin-left:4px; cursor:pointer; background:url(../images/icon/bgWhite16.gif) 0 -64px no-repeat;}
em.icon16question:hover{ background-position:0 -80px;}


/*table*/
.table td a.btn{ background:#DCDFE7; color:#8C96B0; padding:2px 5px; font-size:11px; border-radius:3px; margin:2px 5px; display:inline-block;}
.table td a.del{ background:#EBD8D8; color:#C58B8B; padding:2px 5px; font-size:11px; border-radius:3px; margin:2px 5px; display:inline-block;}
.table td a.btn:hover{ background:#08c; color:#fff;}
.table td a.del:hover{ background:#900; color:#fff;}
.table thead tr td{ padding:0 5px; height:30px; line-height:30px;}
.table thead td em{ width:16px; height:16px; display:inline-block; position:relative; top:3px; margin-left:4px; cursor:pointer; background-repeat:no-repeat; background-image:url(../images/icon/bgWhite16.gif);}
.table thead td em.icon16question{ background-position:0 -64px; float:right; top:7px;}
.table thead td em.icon16question:hover{ background-position:0 -80px;}
.table thead td em.icon16ascending{ background-position:0 0;}
.table thead td em.icon16ascending:hover,
.table thead td em.icon16ascendingSelect{ background-position:0 -16px;}
.table thead td em.icon16descending{ background-position:0 -32px;}
.table thead td em.icon16descending:hover,
.table thead td em.icon16descendingSelect{ background-position:0 -48px;}
.ie7 .table thead td em{ top:0px;}
.ie7 .table thead td em.icon16question{ margin-top:5px;}
.ie6 .table thead td em.icon16question{ top:2px;}



/*header*/
.header{ position:static; margin-bottom:20px; height:auto; left:auto; top:auto;}
html.ie6 body .header{ position:static; }
.header .outer{ background:url(../images/admin/bgBody20120816.png) 0 0 repeat-x; position:static; height:auto;}
.header .inner{ width:990px; height:66px; background:none;}
.header .inner .logo{ width:210px; height:58px; float:left; margin-right:10px; text-indent:-999em;}
.header .inner .logo a{ width:210px; height:58px; display:block; background:url(../images/admin/logo.png) 0 center no-repeat;}
.header .inner .logo a:hover{ background-position:0 center;}
.header .menu{ margin-top:3px;}
.header .menu li a{ height:55px; line-height:55px; padding:0 20px; font-size:14px; letter-spacing:0}
.header .menu li a:hover{ background:#1E2631;}
.header .menu li.current a,
.header .menu li.current a:hover{background:#09111C;}
.header .conUser{ right:0;}
.header .conUser li a{ height:55px; line-height:55px;}
.header #userBar .name{ padding-right:0;}
.header #userBar .name strong{ color:#ccc; line-height:55px; font-size:12px; font-weight:normal; padding-right:0; }
.header #userBar .logout a { background-image:url(../images/admin/iconLogout.gif); font-size:11px;}
.header .subNav{ position:relative; top:-8px; height:42px; padding-bottom:6px; line-height:42px; background:url(../images/admin/subNavBg.png) 0 0 repeat-x;}
.header .subNav .inner{ width:980px; height:42px; text-align:center;}
.header .subNav .inner li{ display:inline-block; margin:0 25px; position:relative;}
.header .subNav .inner li a{ height:40px; line-height:40px; padding:0; display:inline-block; color:#aaa; text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
.header .subNav .inner li a:hover{ color:#ddd;}
.header .subNav .inner li.current a,
.header .subNav .inner li.current a:hover{ color:#fff;}
.header .subNav .inner li ul{ position:absolute; left:-12px; top:39px; width:150px; margin:0; padding:0; background:#434850; color:#fff; display:none;}
.header .subNav .inner li ul li{ width:150px; margin:0; }
.header .subNav .inner li ul li a{ text-indent:13px; display:block;}
.header .subNav .inner li.current ul li a{ color:#aaa;}
.header .subNav .inner li.current ul li a:hover{ color:#ddd; background:#272D39;}



.conTools{background:url(../images/admin/adminToolsBg.gif) 0 0 repeat-x #D7DCDF; border-bottom:1px solid #8F9BA1; padding:15px 8px; color:#454B52; position:relative; left:-15px; top:0; width:964px;}
.conTools h2{ margin-bottom:5px; font-size:14px; color:#000; }
.conTools fieldset hr{border-color:#fff;}
.conFooter{ background:#EDEFF1; width:950px; padding:15px; margin:15px 0 -15px -15px; border-top:1px solid #BEC5C9;}
.ie6 .conFooter,
.ie7 .conFooter{ margin-bottom:0;}

.bodyDataPage{ zoom:1; margin:0 auto 50px auto; width:980px; background:#EAECEE; position:relative;}
.conLeft { width:160px; padding:0; color:#454B52;}
.conLeft h2 img{ width:180px; display:block; margin-bottom:1px;}
.conLeft .leftNav { padding:0; margin-left:0;}
.conLeft .leftNav li{ background:url(../images/admin/leftNavBg.gif) 0 0 repeat-x;}
.conLeft .leftNav li a{ display:block; text-indent:20px; height:30px; line-height:30px; font-size:12px; color:#bbb; }
.conLeft .leftNav li a.title{ background:url(../images/admin/iconArrow2_e.gif) 1px 7px no-repeat; border-bottom:1px solid #292F37; }
.conLeft .leftNav li.current a.title{ background:url(../images/admin/iconArrow2_s.gif) 1px 7px no-repeat; color:#fff;}
.conLeft .leftNav li.current a.title:hover{ color:#fff;}
.conLeft .leftNav li ul a{ color:#979CA1;}
.conLeft .leftNav ul{ display:none; border-bottom:1px solid #575F67;}
.conLeft .leftNav li ul li{ background:#fff; }
.conLeft .leftNav li.current ul li a:hover,
.conLeft .leftNav li.current ul li.current a{ background:#EAECEE; color:#6B717A;}



.conMiddleRight{ width:789px; min-height:600px; padding-top:0;}
.conLeftMiddleRight{ padding-top:0;}
.ie6 .conLeftMiddleRight,
.ie7 .conLeftMiddleRight{ padding-bottom:0; width:950px; overflow:hidden;}




/*bookBar set*/
.bookBar{ overflow:hidden; display:none; position:absolute; z-index:102; left:0; color:#fff; background:url(../images/alpha70.png) 0 0 repeat;}
.bookBar p{ height:18px; margin:0; padding:0; }
.bookBar p em:hover{ color:#999;}


/*slideDown set*/
.slideDown{ position:absolute; z-index:102; color:#fff; }
.slideDown span{ padding:2px 5px; display:inline-block; background:#333; border-radius:4px; display:none;}
.slideDown p{ width:100px; margin:0; padding:0; display:none; position:absolute;}
.slideDown p em:hover{ color:#999;}


/*changePage*/
.changePage{ text-align:right; padding:5px 0;}
.changePage a{ display:inline-block; margin:0 2px; height:20px; padding:0 6px; line-height:20px; background:#345; color:#fff; font-size:12px; font-family:\5FAE\8F6F\96C5\9ED1;text-decoration:none; border-radius:5px;}
.changePage a:hover{ background:#08c;}
.changePage a:link,
.changePage a:visited{ color:#fff;}
.changePage a.current,
.changePage a.current:hover{ background:#08c;}
.gotoPage{ float:right; margin-left:10px; padding:5px 0;}
.gotoPage input.input{ height:12px; line-height:12px; margin:0 2px; font-size:10px; text-align:center;}
.gotoPage a.btnBS{ padding:0 10px;}





/*login*/
.pageAdminLogin{ background:url(../images/admin/loginBg.jpg) center center no-repeat #10151C;}
.pageAdminLogin .copyright{ font-size:11px; text-align:center; width:100%; position:absolute; bottom:0px; color:#4E5561; text-shadow:0 1px 1px rgba(0,0,0,0.3)}
.conLogin{ width:420px; position:absolute; z-index:1; left:50%; top:50%; margin-left:-210px; height:300px; margin-top:-120px; background:#e5e5e5; border:2px solid #fff; box-shadow:0 0 200px rgba(0,0,0,0.3);}
.conLogin .logo{ width:204px; height:45px; position:absolute; left:50%; margin-left:-80px; top:-70px; text-indent:-999em; overflow:hidden;}
.conLogin .logo a{ width:204px; height:45px; background:url(../images/admin/logo.png) 0 0 no-repeat; display:block;}
.conLogin fieldset div{ margin:8px 0;}
.conLogin fieldset h6{ font-size:18px; line-height:60px; text-align:center; font-weight:normal; color:#2B313F;}
.conLogin fieldset div input.g250{ height:32px; line-height:32px; text-indent:10px; background:#4E596B; border:1px solid #000; border-radius:5px; box-shadow:0 0 15px rgba(0,0,0,0.3) inset; margin:4px 0;}
.conLogin fieldset div.action{ margin:20px; border-top:1px dotted #4E596B; padding-top:20px;}
.conLogin fieldset div.action em{ margin:0 9px;}
.conReg{ width:420px; position:absolute; z-index:1; left:50%; top:50%; margin-left:-210px; height:500px; margin-top:-220px; background:#e5e5e5; border:2px solid #fff; box-shadow:0 0 200px rgba(0,0,0,0.3); display:none;}
.conReg .logo{ width:204px; height:45px; position:absolute; left:50%; margin-left:-80px; top:50%; margin-top:-320px; text-indent:-999em; overflow:hidden;}
.conReg .logo a{ width:204px; height:45px; background:url(../images/admin/logo.png) 0 0 no-repeat; display:block;}
.conReg fieldset div{ margin:8px 0; }
.conReg fieldset h6{ font-size:18px; line-height:60px; text-align:center; font-weight:normal; color:#2B313F;}
.conReg fieldset div input.g250{ height:32px; line-height:32px; text-indent:10px; background:#4E596B; border:1px solid #000; border-radius:5px; box-shadow:0 0 15px rgba(0,0,0,0.3) inset; margin:4px 0;}
.conReg fieldset div.action{ margin:20px; border-top:1px dotted #4E596B; padding-top:20px;}
.conReg fieldset div.action em{ margin:0 9px;}




.con01 ul{ width:960px;}
.con01 ul li{ width:182px; height:280px; overflow:hidden; margin-right:10px; float:left; display:inline; position:relative;}
.con01 ul li img{ width:182px; height:242px;}
.con01 ul li:hover img{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.con01 ul li a.del{ position:absolute; left:40px; bottom:15px;}
.con01 ul li a.moveL{ position:absolute; left:80px; bottom:15px; color:#999;}
.con01 ul li a.moveR{ position:absolute; left:120px; bottom:15px; color:#999;}
.con01 ul li a.moveL:hover{ color:#000;}
.con01 ul li a.moveR:hover{ color:#000;}


.con02 dl{ width:464px; font-size:14px; }
.con02 dl.clear{ margin-right:20px;}
.con02 dl dt,
.con02 dl dd{ height:34px; line-height:34px; margin:2px 0; padding-left:10px; position:relative;}
.con02 dl dd label{ display:block; width:100%;}
.con02 dl dt{ background:#D7DCDF; color:#292F3C; text-indent:4px;}
.con02 dl dd{ background:#f5f5f5;}
.con02 dl dd a{ position:absolute; right:0; height:34px; line-height:34px; text-align:center; width:34px; display:block; top:0; text-indent:-999em; overflow:hidden; background:url(../images/icon/close.gif) center center no-repeat;}
.con02 dl dd a:hover{background:url(../images/icon/close_w.gif) center center no-repeat #D7DCDF;}

.con03 .t1 div{ position:relative;}
.con03 img{ width:20px; height:20px; left:50%; top:-10px; margin-left:-10px; display:block; background:#eee; position:absolute;}
.con03 img:hover{ width:80px; height:80px; margin-left:-40px; margin-top:-30px; z-index:1;}

.con04 fieldset{ width:400px; margin:0 auto;} 
.con04 div{ margin:10px 0;}

.copyright{ margin-bottom:30px; text-align:center; font-size:11px; color:#333;}


/*fh_cain*/
.header .inner .logo{width: 180px;}
.innerAccount td.t1{text-align: left;}

.fh_conLogin{background: none;border:0;box-shadow: none;}
.fh_conLogin .logo{width: 137px;height: 96px;margin-left: -71px;}
.fh_conLogin .logo a{width: 137px;height: 96px;}
.fh_conLogin fieldset h6{color: #dcdcdc;font-size: 16px;line-height: 27px;margin-top: 35px;margin-left: -6px;}
.fh_conLogin fieldset div input.g250{border:#D4D4D4;background: #F0F0F0;color: #828282;box-shadow:0 0 15px rgba(0,0,0,0.4) inset;}
.fh_conLogin .fh_conLogin_forget{text-align: center;margin-left: -12px;margin-top: 22px;}.fh_conLogin .fh_conLogin_forget a{color: #bbb;}
.fh_conLogin fieldset div.action{border-top: 0;}
.fh_conLogin fieldset div.action{text-align: center;margin-left: 13px;}
.fh_conLogin .action a.btnBB{width: 220px;border:1px solid #000;}
.fh_conLogin .g250{width: 260px;}



