html body{ padding-top:60px;}



.body{width: 1188px; padding-top: 308px;position: relative;min-height: 1000px;_height:1000px;}

.conBox_out{border: 1px solid #B9B8B8;border-radius: 2px;padding: 3px;background: #fff;}
.conBox_in{background: #4F6566;padding: 17px;}
.conBox{background: #8CADAD;padding:80px 0 42px;}

.con{margin:0 83px;background: #fff url(../images/bg.png) repeat-y 0 0;zoom:1;width: 980px;}

.conHd{width:1010px;height: 308px;position: absolute;left: 54px;top:10px;overflow:hidden;background: url(../images/hd1.png) no-repeat 0 0;}
.conHd a{position: absolute;display: block;}.conHd a:focus{outline: 0;}
.conHd .join{width: 230px;height: 90px;right: 0px;bottom:140px;}
.conHd .weibo{width: 40px;height: 40px;right: 341px;bottom: 138px;}
.conHd .num{width: 240px;height: 40px;line-height: 40px;font-size: 32px;text-align:center;position: absolute;right: 156px;bottom: 26px;color: #000;font-size: 20px;font-weight: 700;background: #FFC648;right: 4px;}
.conHd .num span{color: #fff;color: #fff;padding: 0 3px;font-size: 36px;vertical-align: middle;}
.conHd .btnLink{ position:absolute; left:337px; bottom:29px; width: 250px;height: 60px; background-color:transparent;display:block;}

.con_list {padding-bottom: 50px;}
.con_list dt{height: 87px;position: relative;margin-left: -28px;margin-bottom: 10px;}
.con_list dt img{display: block;}

.con_list dd{padding: 0 0 0 108px;line-height: 2;font-size: 16px;text-shadow: 0 0 3px rgba(0,0,0,0.5);}
.con_list dd li{color: #DBDBDB;width: 770px;margin-bottom: 10px;}
.con_list dd li strong{color: #fff;font-weight: 700;}
.con_list dd li a{ color: #FFF08C;text-decoration: underline;padding: 0 2px;}

.con_list_style2 dd{padding: 0 0 0 45px;line-height: 1.8;}
.in_block{width: 875px;color: #dcdcdc;padding-bottom: 60px;}
.in_block_l{width: 480px;float: left;padding-top: 5px;}
.in_block_l h4{margin-bottom: 10px;color: #fff;font-weight: 700;}
.in_block_l p{margin-bottom: 15px;}
.in_block_r{width: 340px;float: right;}
.in_block_r img{display: block;margin-bottom: 18px;padding: 10px;background: #fff;}


.conHead{height: 32px;overflow: hidden;width: 980px;overflow: hidden;background: url(../images/head.jpg) no-repeat 0 0;}
.conFoot{height: 50px;overflow: hidden;width: 980px;overflow: hidden;background: url(../images/foot.png) no-repeat 0 0;}
.conPhoto{width: 980px;height: 614px;background: url(../images/photo.png) no-repeat 0 0;margin:20px 0;position: relative;}
.conPhoto a{width: 70px;height: 30px;position: absolute;right: 30px;bottom: 0;}


/*form*/
.form_body{margin-top: 60px;padding:0;box-shadow: 0 0 5px rgba(0,0,0,0.3);}
.jxjy_form{position: relative;width: 540px;margin: 0 auto;}
.jxjy_form h5{text-align: center;font-size: 16px;font-weight: 700;line-height: 2;color: #a30000;}
.jxjy_form h6{text-align: left;margin-left:60%;margin-bottom: 15px;}
.jxjy_img{position: absolute;right: -222px;top:324px;width: 219px;_right: -250px;}
.jxjy_form .other{height:81px;margin-top:-4px;}
.jxjy_form .btn_center{margin-left:35%;margin-top: 20px;}
.jxjy_form .btn_center em{margin: 0 20px;}
.jxjy_form em.title{width:85px;}
.jxjy_form em.cus_title{width: auto;padding-left: 10px;}
.jxjy_form .g283{width: 283px;}
.jxjy_form .g72{width: 72px;}
.jxjy_form .sex{width: 78px;}
.jxjy_form .sex label{margin-right: 5px;color: #919191;}
/*.jxjy_img p{color: #919191;min-height: 20px;padding-left: 48px;}
.jxjy_img p span{color: #990000;}*/
.con{margin:0 auto;} 