@charset "utf-8";
@import url("conM1.css");
@import url("conReply.css");


body{ padding-top:150px;}
.header .inner,
.header .nav .navInner,
.topTools{ width:1180px;}



/*layout*/
.bodyMagazine{ width:944px; padding-right:260px; position:relative;}
.sideRight{ position:absolute; top:13px; right:8px; width:238px;}
.ieOld .sideRight{ width:240px; right:6px;}



/*header*/
.header20120905 .headerTop .inner{ width:1180px;}
.header20120905 .headerTop{ height:30px; background:url(../images/120905headerTopBg.png) 0 0 repeat; padding-bottom:5px;} 
.header20120905 .headerTop .rssFeed,
.header20120905 .headerTop .rssTo{ display:block;}
.header20120905 .headerTop .logo{ display:none;}
.header20120905 .headerTop .logo a{ width:125px; height:30px; background-image:url(../images/logo.png);}
.header20120905 .headerTop .nav li a{ font-size:14px; font-weight:bold; letter-spacing:2px; color:#233648; height:30px; line-height:28px;}
.header20120905 .headerTop .nav li a:hover{ background:#BCC6CF; color:#fff; text-shadow:0 1px 1px #000; }
.header20120905 .headerTop .nav li.m1 a { width:30px; text-indent:-999em; background:url(../images/icon/logoM1-22x14.gif) center center no-repeat;}
.header20120905 .headerTop .nav li.m1 a:hover { background:#BCC6CF url(../images/icon/logoM1-22x14-white.gif) center center no-repeat;}
.header20120905 .headerTop .nav li.magazine a,
.header20120905 .headerTop .nav li.magazine a:hover{ background:#233648; color:#fff; height:35px; text-shadow:0 1px 1px #000; }
.header20120905 .headerTop .conUser{ position:absolute; right:250px; top:0;}
.header20120905 .headerTop .search a{ background-color:#95A1AD;}
.header20120905 .headerTop .search a:hover{ background-color:#C6CED2;}
.header20120905 .headerTop .search input{ background:#fff; border-color:#B2B9BD; }





.bodyMagazine .item { width:200px; height:310px; overflow:hidden; background:url(../images/bgMagazine20120502.gif) 0 0 no-repeat; float:left; display:block; margin:8px 0 8px 8px; padding:10px 18px 6px 10px; position:relative;}
.bodyMagazine .item .photo { display:block; width:200px; height:292px; position:relative;}
.bodyMagazine .item .photo img { width:200px; height:268px; background:#f1f1f1; display:block;}
.bodyMagazine .item .photo h5{ font-weight:normal; height:34px; font-size:14px; line-height:17px; margin-top:6px; overflow:hidden; color:#98a1ab;}
.bodyMagazine .item .photo h5 span { display:block; color:#cbd2d9; padding-left:6px; font-size:11px;}
.bodyMagazine .item .photo .album{ position:absolute; right:-9px; top:-9px; width:60px; height:60px; display:block; background:url(../images/corner.png) 0 0 no-repeat; display:none;}
.bodyMagazine .item .photo:hover h5 { color:#7f8690;}
.bodyMagazine .item .photo:hover h5 span { color:#98a1ab;}
.bodyMagazine .item:hover .photo .album{ display:block;}
.bodyMagazine .item .tools { height:24px; padding:7px; width:202px; position:absolute; left:2px; bottom:2px;}
.bodyMagazine .item .tools em { height:24px; width:24px; display:none; float:right; margin-left:5px; background-position:0 center; background-repeat:no-repeat; cursor:pointer;}
.bodyMagazine .item .tools em:hover{ color:#fff;}
.bodyMagazine .item .tools em.iconShare{ background-image:url(../images/icon/share24Gray.png);}
.bodyMagazine .item .tools em.iconShare:hover{ background-image:url(../images/icon/share24Blue.png);}
.bodyMagazine .item .tools em.iconShare div{right:56px; top:4px; }
.bodyMagazine .item .tools em.iconEmail{ background-image:url(../images/icon/mail24Gray.png); }
.bodyMagazine .item .tools em.iconEmail:hover{ background-image:url(../images/icon/mail24Blue.png);}
.bodyMagazine .item:hover .tools{ background:#f9f9f9; border-top:1px solid #ddd;}
.bodyMagazine .item:hover .tools em{ display:inline-block;}
.ie6 .bodyMagazine .item .toolsOn{ background:#f9f9f9; border-top:1px solid #ddd;}
.ie6 .bodyMagazine .item .toolsOn em{ display:inline-block;}
.ie6 .bodyMagazine .item .tools em.iconShare div{ right:20px; top:-3px; }













/*神奇的代码，你看不懂是正常的*/
.ie6 .bodyMagazine,
.ie7 .bodyMagazine{ padding-left:236px; padding-right:24px;}
.ie6 .bodyMagazine .item,
.ie7 .bodyMagazine .item { margin-right:236px; margin-left:-228px; display:inline; }

