@charset "utf-8";

.header .menu .kanmi a,
.header .menu .kanmi a:hover{background:#334455;}

.bodyKanmi .item { width:220px; margin:8px 8px 3px 8px; padding:0; background:url(../images/kanmiItemBg220120502.gif) 0 0 repeat-y; float:left; display:inline; overflow:hidden;}
.bodyKanmi .item .photo{ width:200px; padding:10px 10px 4px 10px; background:url(../images/kanmiItemBg120120502.gif) 0 0 no-repeat; display:block;}
.bodyKanmi .item .photo img{ width:200px; background:#f1f1f1; display:block;}
.bodyKanmi .item .photo h5{ font-weight:normal; height:14px; line-height:14px; margin-top:8px; overflow:hidden;}
.bodyKanmi .item .tools{ height:20px; line-height:20px; margin:0 10px 5px 10px; position:relative;}
.bodyKanmi .item .tools em{ height:20px; display:block; float:left; margin-right:5px; background-position:0 center; background-repeat:no-repeat; color:#777; text-indent:19px; cursor:pointer;}
.bodyKanmi .item .tools em.iconHeart:hover,
.bodyKanmi .item .tools em.favCurrent{ background-image:url(../images/icon/heartOn.gif);}
.bodyKanmi .item .tools em.iconShare:hover{ background-image:url(../images/icon/shareOn.gif); }
.bodyKanmi .item .info{ width:200px; height:30px; overflow:hidden; padding:10px 10px 17px 10px; background:url(../images/kanmiItemBg320120502.gif) center bottom no-repeat;}
.bodyKanmi .item .info .user{ width:30px; height:30px; float:left; margin-right:10px; overflow:hidden; border-radius:2px; box-shadow:0 1px 1px rgba(0,0,0,0.1);}
.bodyKanmi .item .info .user img { display:block; width:30px; height:30px;}
.bodyKanmi .item .info p{ line-height:15px;}
.bodyKanmi .item .info p a{ padding:0 3px; display:inline-block; color:#b7bbbf;}
.bodyKanmi .tagList { background:none; max-height:300px;}




