#Dashboard .pn21 a{ width:500px; height:280px; margin-right:0;}
#Dashboard .pn22 a{ width:245px; height:150px;}
#Dashboard .pn22 a.a2{ margin-right:0;}
#Dashboard .pn31 a{ width:245px; height:150px;}
#Dashboard .pn31 a.a1{ width:500px; height:280px; margin-right:0;}
#Dashboard .pn31 a.a3{ margin-right:0;}
#Dashboard .pn32 a{ width:245px; height:150px;}
#Dashboard .pn32 a.a3{ width:500px; height:280px; margin-right:0;}
#Dashboard .pn32 a.a2{ margin-right:0;}
#Dashboard .pn32 a{ width:245px; height:150px;}
#Dashboard .pn33 a{ width:160px; height:120px;}
#Dashboard .pn33 a.a3{ margin-right:0;}
#Dashboard .pn41 a{ width:245px; height:150px;}
#Dashboard .pn41 a.a1,
#Dashboard .pn41 a.a4{ width:500px; height:280px;}
#Dashboard .pn41 a.a1,
#Dashboard .pn41 a.a3,
#Dashboard .pn41 a.a4{ margin-right:0;}
#Dashboard .pn42 a{ width:160px; height:120px;}
#Dashboard .pn42 a.a1{ width:500px; height:280px;}
#Dashboard .pn42 a.a1,
#Dashboard .pn42 a.a4{ margin-right:0;}
#Dashboard .pn43 a{ width:245px; height:150px;}
#Dashboard .pn43 a.a2,
#Dashboard .pn43 a.a4{ margin-right:0;}
#Dashboard .pn44 a{ width:160px; height:120px;}
#Dashboard .pn44 a.a4{ width:500px; height:280px;}
#Dashboard .pn44 a.a3,
#Dashboard .pn44 a.a4{ margin-right:0;}
#Dashboard .pn51 a{ width:245px; height:150px;}
#Dashboard .pn51 a.a1{ width:500px; height:280px;}
#Dashboard .pn51 a.a1,
#Dashboard .pn51 a.a3,
#Dashboard .pn51 a.a5{ margin-right:0;}
#Dashboard .pn52 a{ width:245px; height:150px;}
#Dashboard .pn52 a.a3{ width:500px; height:280px;}
#Dashboard .pn52 a.a2,
#Dashboard .pn52 a.a3,
#Dashboard .pn52 a.a5{ margin-right:0;}
#Dashboard .pn53 a{ width:160px; height:120px;}
#Dashboard .pn53 a.a1,
#Dashboard .pn53 a.a2{ width:245px; height:150px;}
#Dashboard .pn53 a.a2,
#Dashboard .pn53 a.a5{ margin-right:0;}
#Dashboard .pn54 a{ width:160px; height:120px;}
#Dashboard .pn54 a.a4,
#Dashboard .pn54 a.a5{ width:245px; height:150px;}
#Dashboard .pn54 a.a3,
#Dashboard .pn54 a.a5{ margin-right:0;}
#Dashboard .pn61 a{ width:160px; height:120px;}
#Dashboard .pn61 a.a1{ width:500px; height:280px;}
#Dashboard .pn61 a.a2,
#Dashboard .pn61 a.a3{ width:245px; height:150px;}
#Dashboard .pn61 a.a1,
#Dashboard .pn61 a.a3,
#Dashboard .pn61 a.a6{ margin-right:0;}
#Dashboard .pn62 a{ width:160px; height:120px;}
#Dashboard .pn62 a.a1{ width:500px; height:280px;}
#Dashboard .pn62 a.a5,
#Dashboard .pn62 a.a6{ width:245px; height:150px;}
#Dashboard .pn62 a.a1,
#Dashboard .pn62 a.a4,
#Dashboard .pn62 a.a6{ margin-right:0;}
#Dashboard .pn63 a{ width:160px; height:120px;}
#Dashboard .pn63 a.a3{ width:500px; height:280px;}
#Dashboard .pn63 a.a1,
#Dashboard .pn63 a.a2{ width:245px; height:150px;}
#Dashboard .pn63 a.a2,
#Dashboard .pn63 a.a3,
#Dashboard .pn63 a.a6{ margin-right:0;}
#Dashboard .pn64 a{ width:245px; height:150px;}
#Dashboard .pn64 a.a2,
#Dashboard .pn64 a.a4,
#Dashboard .pn64 a.a6{ margin-right:0;}
#Dashboard .pn65 a{ width:160px; height:120px;}
#Dashboard .pn65 a.a3,
#Dashboard .pn65 a.a6{ margin-right:0;}
#Dashboard .pn71 a{ width:245px; height:150px;}
#Dashboard .pn71 a.a1{ width:500px; height:280px;}
#Dashboard .pn71 a.a1,
#Dashboard .pn71 a.a3,
#Dashboard .pn71 a.a5,
#Dashboard .pn71 a.a7{ margin-right:0;}
#Dashboard .pn72 a{ width:160px; height:120px;}
#Dashboard .pn72 a.a1{ width:500px; height:280px;}
#Dashboard .pn72 a.a1,
#Dashboard .pn72 a.a4,
#Dashboard .pn72 a.a7{ margin-right:0;}
#Dashboard .pn73 a{ width:245px; height:150px;}
#Dashboard .pn73 a.a5,
#Dashboard .pn73 a.a6,
#Dashboard .pn73 a.a7{ width:160px; height:120px;}
#Dashboard .pn73 a.a2,
#Dashboard .pn73 a.a4,
#Dashboard .pn73 a.a7{ margin-right:0;}
#Dashboard .pn74 a{ width:245px; height:150px;}
#Dashboard .pn74 a.a3,
#Dashboard .pn74 a.a4,
#Dashboard .pn74 a.a5{ width:160px; height:120px;}
#Dashboard .pn74 a.a2,
#Dashboard .pn74 a.a5,
#Dashboard .pn74 a.a7{ margin-right:0;}
#Dashboard .pn75 a{ width:245px; height:150px;}
#Dashboard .pn75 a.a1,
#Dashboard .pn75 a.a2,
#Dashboard .pn75 a.a3{ width:160px; height:120px;}
#Dashboard .pn75 a.a3,
#Dashboard .pn75 a.a5,
#Dashboard .pn75 a.a7{ margin-right:0;}
#Dashboard .pn81 a{ width:245px; height:150px;}
#Dashboard .pn81 a.a1{ width:500px; height:280px}
#Dashboard .pn81 a.a6,
#Dashboard .pn81 a.a7,
#Dashboard .pn81 a.a8{ width:160px; height:120px;}
#Dashboard .pn81 a.a1,
#Dashboard .pn81 a.a3,
#Dashboard .pn81 a.a5,
#Dashboard .pn81 a.a8{ margin-right:0;}
#Dashboard .pn82 a{ width:245px; height:150px;}
#Dashboard .pn82 a.a1{ width:500px; height:280px}
#Dashboard .pn82 a.a4,
#Dashboard .pn82 a.a5,
#Dashboard .pn82 a.a6{ width:160px; height:120px;}
#Dashboard .pn82 a.a1,
#Dashboard .pn82 a.a3,
#Dashboard .pn82 a.a6,
#Dashboard .pn82 a.a8{ margin-right:0;}
#Dashboard .pn83 a{ width:245px; height:150px;}
#Dashboard .pn83 a.a1{ width:500px; height:280px}
#Dashboard .pn83 a.a2,
#Dashboard .pn83 a.a3,
#Dashboard .pn83 a.a4{ width:160px; height:120px;}
#Dashboard .pn83 a.a1,
#Dashboard .pn83 a.a4,
#Dashboard .pn83 a.a6,
#Dashboard .pn83 a.a8{ margin-right:0;}
#Dashboard .pn84 a{ width:245px; height:150px;}
#Dashboard .pn84 a.a2,
#Dashboard .pn84 a.a4,
#Dashboard .pn84 a.a6,
#Dashboard .pn84 a.a8{ margin-right:0;}
#Dashboard .pn85 a{ width:160px; height:120px;}
#Dashboard .pn85 a.a1,
#Dashboard .pn85 a.a2{ width:245px; height:150px}
#Dashboard .pn85 a.a2,
#Dashboard .pn85 a.a5,
#Dashboard .pn85 a.a8{ margin-right:0;}
#Dashboard .pn86 a{ width:160px; height:120px;}
#Dashboard .pn86 a.a4,
#Dashboard .pn86 a.a5{ width:245px; height:150px}
#Dashboard .pn86 a.a3,
#Dashboard .pn86 a.a5,
#Dashboard .pn86 a.a8{ margin-right:0;}
#Dashboard .pn87 a{ width:160px; height:120px;}
#Dashboard .pn87 a.a7,
#Dashboard .pn87 a.a8{ width:245px; height:150px}
#Dashboard .pn87 a.a3,
#Dashboard .pn87 a.a6,
#Dashboard .pn87 a.a8{ margin-right:0;}
#Dashboard .pn91 a{ width:160px; height:120px;}
#Dashboard .pn91 a.a1{ width:500px; height:280px} 
#Dashboard .pn91 a.a2,
#Dashboard .pn91 a.a3{ width:245px; height:150px}
#Dashboard .pn91 a.a1,
#Dashboard .pn91 a.a3,
#Dashboard .pn91 a.a6,
#Dashboard .pn91 a.a9{ margin-right:0;}
#Dashboard .pn92 a{ width:160px; height:120px;}
#Dashboard .pn92 a.a1{ width:500px; height:280px} 
#Dashboard .pn92 a.a5,
#Dashboard .pn92 a.a6{ width:245px; height:150px}
#Dashboard .pn92 a.a1,
#Dashboard .pn92 a.a4,
#Dashboard .pn92 a.a6,
#Dashboard .pn92 a.a9{ margin-right:0;}
#Dashboard .pn93 a{ width:245px; height:150px;}
#Dashboard .pn93 a.a7,
#Dashboard .pn93 a.a8,
#Dashboard .pn93 a.a9{ width:160px; height:120px}
#Dashboard .pn93 a.a2,
#Dashboard .pn93 a.a4,
#Dashboard .pn93 a.a6,
#Dashboard .pn93 a.a9{ margin-right:0;}
#Dashboard .pn94 a{ width:245px; height:150px;}
#Dashboard .pn94 a.a5,
#Dashboard .pn94 a.a6,
#Dashboard .pn94 a.a7{ width:160px; height:120px}
#Dashboard .pn94 a.a2,
#Dashboard .pn94 a.a4,
#Dashboard .pn94 a.a7,
#Dashboard .pn94 a.a9{ margin-right:0;}
#Dashboard .pn95 a{ width:245px; height:150px;}
#Dashboard .pn95 a.a3,
#Dashboard .pn95 a.a4,
#Dashboard .pn95 a.a5{ width:160px; height:120px}
#Dashboard .pn95 a.a2,
#Dashboard .pn95 a.a5,
#Dashboard .pn95 a.a7,
#Dashboard .pn95 a.a9{ margin-right:0;}
#Dashboard .pn96 a{ width:245px; height:150px;}
#Dashboard .pn96 a.a1,
#Dashboard .pn96 a.a2,
#Dashboard .pn96 a.a3{ width:160px; height:120px}
#Dashboard .pn96 a.a3,
#Dashboard .pn96 a.a5,
#Dashboard .pn96 a.a7,
#Dashboard .pn96 a.a9{ margin-right:0;}
#Dashboard .pn97 a{ width:160px; height:120px;}
#Dashboard .pn97 a.a3,
#Dashboard .pn97 a.a6,
#Dashboard .pn97 a.a9{ margin-right:0;}
#Dashboard .pn101 a{ width:160px; height:120px;}
#Dashboard .pn101 a.a1{ width:500px; height:280px}
#Dashboard .pn101 a.a1,
#Dashboard .pn101 a.a4,
#Dashboard .pn101 a.a7,
#Dashboard .pn101 a.a10{ margin-right:0;}
#Dashboard .pn102 a{ width:160px; height:120px;}
#Dashboard .pn102 a.a1,
#Dashboard .pn102 a.a2,
#Dashboard .pn102 a.a3,
#Dashboard .pn102 a.a4{ width:245px; height:150px}
#Dashboard .pn102 a.a2,
#Dashboard .pn102 a.a4,
#Dashboard .pn102 a.a7,
#Dashboard .pn102 a.a10{ margin-right:0;}
#Dashboard .pn103 a{ width:160px; height:120px;}
#Dashboard .pn103 a.a1,
#Dashboard .pn103 a.a2,
#Dashboard .pn103 a.a6,
#Dashboard .pn103 a.a7{ width:245px; height:150px}
#Dashboard .pn103 a.a2,
#Dashboard .pn103 a.a5,
#Dashboard .pn103 a.a7,
#Dashboard .pn103 a.a10{ margin-right:0;}
#Dashboard .pn104 a{ width:160px; height:120px;}
#Dashboard .pn104 a.a1,
#Dashboard .pn104 a.a2,
#Dashboard .pn104 a.a9,
#Dashboard .pn104 a.a10{ width:245px; height:150px}
#Dashboard .pn104 a.a2,
#Dashboard .pn104 a.a5,
#Dashboard .pn104 a.a8,
#Dashboard .pn104 a.a10{ margin-right:0;}
#Dashboard .pn105 a{ width:160px; height:120px;}
#Dashboard .pn105 a.a4,
#Dashboard .pn105 a.a5,
#Dashboard .pn105 a.a6,
#Dashboard .pn105 a.a7{ width:245px; height:150px}
#Dashboard .pn105 a.a3,
#Dashboard .pn105 a.a5,
#Dashboard .pn105 a.a7,
#Dashboard .pn105 a.a10{ margin-right:0;}
#Dashboard .pn106 a{ width:160px; height:120px;}
#Dashboard .pn106 a.a4,
#Dashboard .pn106 a.a5,
#Dashboard .pn106 a.a9,
#Dashboard .pn106 a.a10{ width:245px; height:150px}
#Dashboard .pn106 a.a3,
#Dashboard .pn106 a.a5,
#Dashboard .pn106 a.a8,
#Dashboard .pn106 a.a10{ margin-right:0;}
#Dashboard .pn107 a{ width:160px; height:120px;}
#Dashboard .pn107 a.a7,
#Dashboard .pn107 a.a8,
#Dashboard .pn107 a.a9,
#Dashboard .pn107 a.a10{ width:245px; height:150px}
#Dashboard .pn107 a.a3,
#Dashboard .pn107 a.a6,
#Dashboard .pn107 a.a8,
#Dashboard .pn107 a.a10{ margin-right:0;}