/*分类颜色*/
.navC44 { background:#323232; border-color:#1e1e1e;}		/*每日精选*/
.navC42 { background:#844fc5; border-color:#6c3ca7;}		/*海淘大咖*/
.navC240 { background:#b44dac; border-color:#983690;}		/*鲜肉们*/
.navC40 { background:#956a37; border-color:#865923;}		/*家居全球*/
.navC14 { background:#eb8b1a; border-color:#b9701a;}		/*万分萌宠*/
.navC38 { background:#2cbab2; border-color:#1a9891;}		/*旅食客*/
.navC2 { background:#ae3d3d; border-color:#8c2525;}	        /*麻辣世情*/
.navC245 { background:#438b46; border-color:#286e2b;}		/*绿植格子间*/
.navC4 { background:#2f8ab4; border-color:#1b6c91;}			/*此间推荐*/
.navC249 { background:#e65725; border-color:#c54417;}		/*麦米GO*/