@charset "UTF-8";

html{background: #1E1E1E; overflow-x:hidden; -webkit-overflow-scrolling:touch;  }
body *{font-size:14px;font-family:arial,\4E3D\9ED1,\5FAE\8F6F\96C5\9ED1;color: #fff;}
li,ul{list-style: none;}
input, button, select, textarea{-webkit-appearance: none; -webkit-user-select:auto;}
* { -webkit-user-select: none;}
* { -webkit-text-size-adjust: none;}
* { -webkit-touch-callout: none;}


/*clearFix clear*/
.clearFix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearFix {zoom:1;} 
.clear{clear:both;}

.tCenter{ text-align:center;}


.appBody{width:100%; min-width:250px;}
.appBody a{text-decoration: none;}
.appBody a:link,.appBody a:visited,.appBody a:hover,.appBody a:active {color: #fff;}

.linkColor{color: #fff;}
.fl{float: left;}
.fr{float: right;}

/*icon*/
.icon_arrow{width: 8px;height: 12px;background: url(../../images/looker/icon_arrow.png) no-repeat 0 0;position: absolute;right:15px;top: 50%;margin-top:-6px;background-size: 8px 12px;}
.icon_back{width: 50px;height: 20px;background: url(../../images/looker/icon_back.png) no-repeat 0 0;position: absolute;left:15px;top: 50%;margin-top:-10px;background-size: 12px 20px;padding-left: 12px;}
.icon_back span{position: absolute;top: -20px;left: 15px;font-weight: 700;color: #fff !important;}

/*hd*/
.appHd{ display:none;height: 60px;line-height: 60px;background:#282828;position: fixed;left: 0;top: 0;width: 100%;z-index: 99;opacity: 0.9;border-bottom: 1px solid #141414;}
.appHd_hd{font-size: 16px;font-weight: 700;text-align: center;}


/*appBtn_foot*/
.appBtn_foot{border-top:1px solid #ccc;border-bottom:1px solid #ccc;position: absolute;bottom: 50px;left: 0;width: 100%;}
.appBtn_foot .appItem_white:last-child{padding-bottom: 0;}
.appBtn_foot .appItem_white:last-child .appItem_white_txt{border-bottom: 0;}


/*noBorder*/
.appItemBox_noBorder .appItem_gray:last-child{border-bottom: 0;}


/*item*/
.appItemBox_last{border-bottom: 1px solid #141414;}
.appItemBox_last .appItem_white:last-child{padding-bottom: 0;}
.appItemBox_last .appItem_white:last-child .appItem_white_txt{border-bottom: 0;}
.appItemBox_last .appItem_input:last-child{padding-bottom: 0;}
.appItemBox_last .appItem_input:last-child label{border-bottom: 0;}
.appItemBox_last .appItem_news:last-child .appItem_white_txt{border-bottom: 0;}
.appItemBox_last .appItem_list:last-child .appItem_white_txt{border-bottom: 0;}
.appItemBox_last .appEmpty_gray{border-top:1px solid #141414;margin-top:-1px;}


.appItem_white,.appItem_input,.appItem_news,.appItem_list,.appItem_every{height: 42px;line-height: 42px;position: relative;overflow: hidden;background: #282828;padding-bottom: 1px;}
.appItem_white .iconMoney{ width:22px; height:22px; display:inline-block; background:#f00 url(../../images/looker/money_c.png) 0 0 no-repeat; background-size:22px 22px; text-indent:-999em; position:relative; top:10px;}
.appItem_white a,.appItem_input a,.appItem_news a,.appItem_list a{display: block;position: relative;width: 100%;height: 100%;}
.appItem_white_txt a{display: inline;}
.appItem_white{}
.appItem_white_txt{border-bottom: 1px solid #141414;padding-right: 30px;color: #fff;display: block;white-space: nowrap; *zoom:1;margin-left: 15px;}
.appItem_white_txt .order{width: 20px;display:inline-block;}
.appItem_white_txt:before,.appItem_white_txt:after {display: table;content:'';}
.appItem_white_txt:after { clear: both; }
.appItem_white_txt.i3 p{float: left;width:37%;}
.appItem_white_txt.i3 p:last-child{text-align: right;width:26%;}
.appItem_white_txt.i2 p{float: left;width:60%;}
.appItem_white_txt.i2 p:last-child{text-align: right;}
.appItem_white_txt.i2 p.friendbtn{width:40%;}

.appItem_white_txt.i2 p.appBtnRight{text-align: center;}
.appItem_white_txt.link p{text-align: center;font-weight: 700;}
.appItem_white_img{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:20px;height: 20px;border:1px solid #ccc;background:#ccc;display: block;float: left;position: relative;top:50%;margin-top:-10px;margin-right:10px;overflow: hidden;margin-left:15px;}

.appItem_whiteOther{height: 90px;line-height: 90px;}
.appItem_whiteOther .appItem_white_txt.i2 .imgBlock{width: 50%;position: absolute;top: 50%;margin-top: -30px;}
.appItem_whiteOther .appItem_white_txt.i2 .priceBlock{text-align: right;float: right;width: 50%;}
.appItem_whiteOther .appItem_white_txt.i2 p:last-child{width: auot;text-align:left;}
.appItem_whiteOther .appItem_white_txt.i2 .priceBlock p{text-align: right;width: 100%;}
.appItem_whiteOther .appItem_white_txt.i2 .imgBlock p{width: auto;float: none;line-height: 1.5;padding-top:3px;}
.appItem_whiteOther .appItem_white_txt.i2 .imgBlock p.date{ color:#888; font-size: 12px;font-weight: 700;padding-top: 9px;}
.appItem_whiteOther .appItem_white_txt.i2 .imgBlock img{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width: 60px;height: 60px;border: 1px solid #000;background: #fff;display: block;float: left;margin-right: 10px;}


.appItem_gray,.appEmpty_gray,.appEmpty_grayLine{background: #282828;position: relative;overflow: hidden;}
.appItem_gray{border-bottom: 1px dotted #141414;min-height: 42px;padding-bottom:1px;}
.appItem_gray_title{font-weight: 700;margin: 15px 0;padding: 0 15px;}
.appItem_gray_hd{margin: 15px 0;padding: 0 15px;}
.appItem_gray_txt{margin: 15px 0;padding: 0 15px;line-height: 1.2;}
.appItem_gray_list{}
.appItem_gray_list li{width:110px;display:inline-block;margin-left:5%;padding-bottom:30px;overflow: hidden;vertical-align: top;}
.appItem_gray_list li img{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width: 89px;height: 89px;border: 1px solid #e6e6e6;background: #fff;display: block;margin: 0 auto;}
.appItem_gray_list li p{padding: 15px 0px 0;text-align: center;white-space: nowrap;}

.appEmpty_gray{height: 42px;border-bottom: 1px solid #141414;}
.appEmpty_grayLine{height:15px;border-bottom: 1px solid #141414;background: #1e1e1e;}

.appItem_input{padding-left: 0;}
.appItem_input label{width:100%;white-space: nowrap;overflow: hidden;display: block;border-bottom: 1px solid #141414;margin-left:15px;}
.appItem_input .input{border:0;width:80%;background: #282828;}
.appItem_input .regexp{border:0;width:60%;background: #282828;}
.appItem_input .button{height:100%;border:0;text-align: center;background:none;cursor: pointer;color:#fff;letter-spacing: 2px;width: 100%;display: block;font-weight: bold;}
.appItem_input .graybotton{color: #ccc;}
.appItem_textarea{ padding:10px;}
.appItem_textarea textarea{ width:100%; box-sizing:border-box; border:0; background:none; overflow:auto;}
.appItem_textarea textarea.h300{ height:300px;}



.appItem_news{height: auto;line-height: 1.5;padding-bottom: 0;}
/*.appItem_news:hover{background: #ccc;}*/
.appItem_news  h4{padding-bottom: 10px;margin-left: 15px;}
.appItem_news  h4 span{padding: 0 5px;}
.appItem_news .appItem_white_txt{padding: 12px 0 8px 0;white-space: normal;margin-left: 0;}
.appItem_news .appItem_white_txt a{color: #000;}
.appItem_news .appItem_white_txt p{line-height:1.8em;padding-left: 15px;padding-right: 15px;}
.appItem_news .appItem_white_txt.i2 p{width:80%;}
.appItem_news .appItem_white_txt.i2 p:last-child{width:20%;}
.newsRead .appItem_white_txt *{ color:#666 !important}
.newsRead .appItem_white_txt{ background:#151515;}

.appItem_list{padding-bottom: 2px;}
.appItem_list .appItem_white_txt.i2 p{overflow:hidden;width:75%;text-overflow:ellipsis;}
.appItem_list .appItem_white_txt.i2 p:last-child{width:25%;}

/*group*/
.appGroup{padding-bottom:10px;border-bottom: 1px solid #141414;background:none;position: relative;padding-left:15px;overflow: hidden;}
.appGroup_hd{padding-top: 30px;}
.appGroup_bold{font-weight: 700;}
.appGroup_txt{padding-top:40px;color: #999;padding-right: 40px;line-height: 1.4;}


.appItem_whiteEvery{min-height: 42px;background: #282828;padding: 15px 0;}
.appItem_whiteEvery p:first-child{margin-top: 0;}
.appItem_whiteEvery p:last-child{margin-bottom: 0;}

/*tab*/
.appTabBox{}
.appTabBtn{padding: 12px 0;height: 27px; text-align: center;background: #282828;border-bottom: 1px solid #141414;}
.appTabBtn ul{border:1px solid #333333;overflow:hidden;border-radius: 5px;position: relative;left:50%;}
.appTabBtn ul.i3{width: 225px;margin-left:-113px;}
.appTabBtn ul.i2{width: 150px;margin-left:-75px;}
.appTabBtn li{color:#333333;height: 26px;line-height: 26px;width: 75px;float: left;text-align: center;border-right: 1px solid #141414;cursor:pointer;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.appTabBtn li:last-child{border-right: 0;}
.appTabBtn li.current{background:#1e1e1e;color:#fff;}
.appTabCon{position: relative;}

.appTabConItem{display: none;position: absolute;left: 0;top: 0;width:100%;}
.appTabCon .appTabConItem:first-child{display: block;}





.appItem_input .appBtnRight,.appItem_white_txt.i2 .appBtnRight{width:60px;height:27px;line-height:27px;position: absolute;right: 30px;top: 7px;text-align: center;background: #333333;color:#fff !important;border:1px solid #141414;overflow:hidden;border-radius: 5px;}

.appEveryDay .appBtnHas,.appEveryDay .appBtnNo,.appBtnOther{width:60px;height:26px;line-height:26px;position: absolute;right: 30px;top: 9px;text-align: center;background: #282828;color:#fff !important;border:1px solid #141414;overflow:hidden;border-radius: 5px;}
.appEveryDay .appItem_white_txt{position: relative;height: 42px;line-height: 42px;overflow: hidden;border-bottom: 0;}
.appEveryDay .appBtnHas{width: 85px;background:#1e1e1e;border-radius:0;border:0;height: 100%;line-height: inherit;top: 0;right: 0;color: #fff !important;letter-spacing: 1px;}
.appEveryDay .appBtnNo{width: 85px;background: #1e1e1e;border-radius:0;border:0;height: 100%;line-height: inherit;top: 0;right: 0;letter-spacing: 1px;}
.appEveryDay .appBtnOther{width: 85px;background:none;border-radius:0;border:0;height: 100%;line-height: inherit;top: 0;right: 0;letter-spacing: 1px;color: #fff !important;}
.appEveryDay .appItem_white_txt img{width:25px;height: 25px;overflow: hidden;display: inline-block;vertical-align: middle;margin: 0 5px;}


.appEveryDay .appItem_every{background: #282828;border-bottom:1px solid #141414;padding-bottom: 0; }.appEveryDay .appItem_every *{color: #fff;}
.appEveryDay .appItem_everyHas{background: #282828;border-bottom:1px solid #141414;padding-bottom: 0; }.appEveryDay .appItem_every *{color: #fff;}
.appEveryDay .appItem_everyNow{background: #282828;}.appEveryDay .appItem_everyNow *{color: #fff;}
.appEveryDay .appItem_every:last-child{border-bottom: 0;}
.appEveryDay .appItem_everyHas:last-child{border-bottom: 0;}

.con01{ border-bottom:1px solid #141414;background: #282828;}
.con01 h2{width:50%; display:block; float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;text-align:center;position: relative;height: 80px;}
.con01 h2:nth-child(1){ border-right:1px solid #141414;}
.con01 h2 i{position: absolute;height: 35px;line-height:30px;padding-left: 15px;width: 100px;left: 0;top: 0;font-size: 12px;color: #fff;}
.con01 h2 p{text-align: center;line-height: 80px;font-size: 50px;letter-spacing: 1px;padding-top: 10px;}

.eggs_list{padding-top: 15px;}
.eggs_list li{float: left;overflow: hidden;margin-left: 6%;margin-bottom: 20px;}
.eggs_list li img{width: 56px;}

.appSubmit{height: 100%;}
.appSubmit .appBody{height: 100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.appSubmit .appItemBox_last{height: 100%;max-height: 400px;}
.appSubmit .appItem_textarea{padding:10px;height: 100%;width: 100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.appSubmit .appItem_textarea textarea{background: #282828;width: 100%;height:100%;font-size: 16px;}
.appSubmit .appItem_input{text-align: center;}
.appSubmit .appItemBox_last,.appSubmit .appHd{border-bottom: 0;}
.appSubmit .appItem_input .button{width:125px;height: 30px;background: url(../../images/looker/btn_submit.png) no-repeat;background-size: 125px 30px;margin: 0 auto;float: none;display:inline-block;}



.mall_money{display: block;margin:0 auto;overflow: hidden;}

.news_hd{padding-bottom: 10px;margin-left: 15px;margin-right: 15px;}
.news_hd .date{display:inline-block;margin-right:10px;}
.news_hd .date span{padding: 0 5px;}
.news_hd .reply{float: right;color: #999;}



.mall_money_hd{font-size: 16px;text-align: center;padding-top: 15px;font-weight: bold;line-height: 1.3em;}
.mall_money_detail{padding: 20px 25px 20px;background: #282828;margin-top: 25px;}
.mall_money_detail h3{font-size: 14px;margin-bottom: 15px;font-weight: bold;}
.mall_money_detail ol{font-size: 12px;line-height: 1.5;}
.mall_money_detail ol li{margin-bottom: 10px;}



.about_us{padding: 20px 15px 0;}
.about_us p *{font-size: 14px;-webkit-user-select:auto;word-wrap:break-word;}
.about_us p{margin-bottom: 10px;line-height: 1.5;}
.about_us p span{color: #9e9e9e;}
.appBody .about_us p a.copy{margin-left:10px;color: blue;}




/*20140320*/
.appTabBtn ul{border: 0;}
.appTabBtn li{border: 0;background:none;color: #fff;}
.appTabBtn li.current{background:url(../../images/looker/btn_h.png) no-repeat 0 0;color: #fff;background-size: 75px 26px;}
.appEveryDay .appBtnNo{background:url(../../images/looker/btn_h.png) no-repeat 0 0;background-size: 75px 26px;color: #fff !important;line-height: 26px;width: 75px;height: 26px;margin-top: 9px;margin-right: 5px;}
.appItem_white_txt.i2 p.friendbtn a{background:url(../../images/looker/btn_h.png) no-repeat 0 0;background-size: 75px 26px;width: 75px;height: 26px; line-height:26px;}
.appItemBox_last .friendbtn .appBtnRight,.appItem_input .appBtnRight,.appChange,.changePoints .appChange{width:60px;height:26px;background:url(../../images/looker/btn_h.png) no-repeat 0 0;background-size:60px 26px;color: #fff !important;border:0;line-height: 26px;}

.imgsign{width: 16px;height:16px;position: absolute;right:8px;top:50%;margin-top:-8px;}



/* 20140421 */
.appChange,.changePoints .appChange{display: block;text-align: center;margin: 0 auto;}
.appItem_gray_list li{position: relative;}
.appItem_gray_list li .changePoints{padding:10px 0;}
.appItem_gray_list li .changePoints img,.appItem_changeTime  .appItem_whiteOther .appItem_white_txt.i2 .imgBlock .changePoints img{background: none;border:0;width:14px;height: 14px;display: inline-block;vertical-align: middle;margin-left:2px;float: none;}
.appItem_gray_noBorder{border-bottom: 0;}
.appItem_change {padding-top: 0;}
.appItem_change *{color: #787878;}
.appItem_change p:first-child{padding: 15px 12px 0;border-top: 1px solid #787878;}
.appItem_change p{padding: 0 12px;line-height:1.8;margin-top: 10px;margin-bottom: 10px;}
.appItem_gray_list li .nogoods,.appItem_changeTime .appItem_white_txt.i2 .imgBlock p.nogoods{width: 60px;height: 60px;position: absolute;background:rgba(0,0,0,0.5);left: 10px;top: 0;padding: 0;margin: 0;}
.appNogoods{width:100%;display: block;text-align: center;margin: 0 auto;height: 30px;line-height: 30px;cursor: default;color: #787878 !important;}
.appItem_changeTime .appItem_whiteOther .appItem_white_txt.i2 .imgBlock{width:100%;}
.appItem_changeTime .appItem_whiteOther .appItem_white_txt.i2 .imgBlock img{width: 60px;height: 60px;margin-right: 10px;}
.appItem_changeTime .appItem_whiteOther{height: 130px;padding-left: 0px;}
.appItem_changeTime .appItem_white_txt{border-bottom: 0;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock{margin-top:20px;top:0;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock p{line-height: 1; position:relative;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock p span{ color:#666; font-size:12px; position:absolute; right:30px; top:5px;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock div.times{font-size:14px;line-height: 1;float:none;width: auto;padding-top: 3px;height: 30px;visibility: hidden;margin-bottom: 5px;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock div.times .appChange{ position:absolute; bottom:-10px; right:0;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock p.changePoints{line-height: 1.5;}
.appItem_changeTime .oldprice{text-decoration: line-through;}
.appItem_changeTime .oldprice.nogoodsText{color: #787878;}
.appItem_changeTime .buys{width: 44px;height: 44px;position: absolute;background: url(../../images/looker/buys.png) no-repeat;background-size: 44px 44px;left:-22px;top:-22px;}
.appItem_changeT{padding-top:20px;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock p.nogoods{left: 0;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock p.nogoodsText{color: #787878;}
.appItem_changeTime .appItem_white_txt.i2 .imgBlock div.nogoodsText{color: #787878;line-height:2;visibility: visible;}


.padTop35{padding-top: 35px;}
.appItem_white_txt.inew2 p{float: left;width:50%;}
.appItem_white_txt.inew2 p:first-child .iconMoney{ width:14px; height:14px; margin-left:5px; display:inline-block; background:url(../../images/looker/money_c.png) 0 0 no-repeat; background-size:14px 14px; text-indent:-999em; overflow:hidden; position:relative; top:2px;}
.appItem_white_txt.inew2 p:last-child{text-align: right;} 
.changePoints .appChange{position: absolute;right: 30px;bottom:-10px;}
.changePoints .appNoChane{background: none;color: #787878 !important;}

.jqueryCount span{ width:15px; margin:0 1px; height:29px; overflow:hidden; display:block; float:left; background-image:url(../../images/looker/times.png); background-repeat:no-repeat; color:#fff; background-size:15px 1770px; font-weight:bold; text-align:center;}
.jqueryCount span.num{ text-indent:-999em; overflow:hidden;}
.jqueryCount span.hide{ display:none;}
.jqueryCount span.day{ font-size:14px; line-height:22px; background:none;}
.jqueryCount span.text{ width:8px; font-size:14px; line-height:22px; background:none;}


.jqueryCount{width: 200%;height: 100%; }
.jqueryCount div{ float:left;}
#counter{ margin:40px auto; height:103px; text-align:center;}
#counter span{ float:none; display:inline-block;}


.appItem_whiteOther .appItem_white_txt.i2 .imgBlock .prize{font-weight: 700;font-size: 15px;padding-top:15px;}

.scratchBox .appItem_whiteOther .appItem_white_txt.i2 .imgBlock{width: 100%;margin-top: 20px;top: 0;}
.scratchBox .appItem_whiteOther .appItem_white_txt.i2 .imgBlock img{width: 75px;height: 75px;margin-right: 15px;}
.scratchBox .appItem_whiteOther{height: 120px;padding-left: 0px;}
.scratchBox .appItem_whiteOther160{height: 160px;}
.lottery{height: 100px;position: relative;background: #282828;margin:10px auto;width: 250px;}
#lotteryContainer {
    position:relative;
    width: 250px;
    height:100px;
}
#lotteryContainer_shade{position: absolute;height: 100px;left: 50%;top: 0;width: 250px;display: none;background: #ccc;line-height: 100px;text-align: center;font-size: 24px;letter-spacing: 2px;margin-left: -125px;}
#lotteryBtn{background: url(../../images/looker/btn_h_240.png) no-repeat 0 0;width: 120px;height: 26px;display:block;position: absolute;bottom: -35px;left: 50%;margin-left: -60px;text-align: center;line-height:26px;cursor: pointer;font-size: 14px;background-size: 120px 26px;font-weight: 700;}



/*消息中心*/
.appItem_message{padding-top: 0px;}
.appItem_message .appItem_message-list{padding: 10px 20px;}
.appItem_message .appItem_message-list .appItem_message_data{color: #b4b4b4;font-size: 14px;position: relative;}
.appItem_message .appItem_message-list .appItem_message_data *{color: #b4b4b4;}
.appItem_message .appItem_message-list .appItem_message_data span{margin-right: 10px;}
.appItem_message .appItem_message-list .appItem_message_data span em{padding: 0 3px;}
.appItem_message .appItem_message-list .appItem_message_inner{padding: 6px 0;color: #b4b4b4;}
.appItem_message .appItem_message-list .appItem_message_inner_Author{color: #b4b4b4;font-size: 12px;}
.appItem_message .appItem_message-list textarea {background:#000000;height: 60px;width: 100%;border: 0 none;resize:none;color: #FFF!important;}
.appItem_message .appItem_message-list a.reply{width: 16px;height: 13px;display: inline-block;background: url(../../images/looker/looker/reply-yes.png) no-repeat;position: absolute;right: 0;background-size: 16px 13px;}
.appItem_message .appItem_message-list a.reply.no{background: url(../../images/looker/looker/reply-no.png) no-repeat;background-size: 16px 13px;}
.appItem_message .reply-Content{padding:15px 0 0 0; color: #b4b4b4;}
.appItem_message .reply-Content .reply-Content-text{padding: 4px;background: #000}
.appItem_message .reply-Content p{height: 20px;line-height: 20px;padding-top: 8px;}
.appItem_message .reply-Content p a{float: right;display: inline-block;margin-left: 30px;color: #b4b4b4!important;font-size: 14px;}
.appItem_message-list-line{background: #1e1e1e;height: 20px;}
.appItem_message .appItem_message-list .appItem_message_block *{color: #505050;}
.appItem_message .appItem_message-list .appItem_message_block {padding-top: 16px;border-top: 1px dashed #979797;margin-top: 20px;}

/*意见反馈*/
.appItem_Opinion{padding-top: 0px;}
.send_Opinion{position: absolute;right: 15px;top: 0;display: inline-block;padding:0 10px}
.appItem_Opinion{padding:0px 20px 0px;}
.appItem_Opinion textarea {background:#000000;height: 60px;width: 100%;border: 0 none;resize:none;color: #FFF!important;padding: 10px 15px;height: 100px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size: 12px;}
.appItem_Opinion .score-list{height: 18px;padding-bottom: 15px;line-height: 18px;}
.appItem_Opinion .score-list span{float: left;font-size: 16px;}
.appItem_Opinion .score-list ul li{float: left;width: 18px;height: 17px;background: url(../../images/looker/looker/score-star.png) no-repeat;margin-right: 5px;cursor: pointer;background-size: 18px 17px;}
.appItem_Opinion .score-list ul li.on{background: url(../../images/looker/looker/score-end.png) no-repeat;background-size: 18px 17px;}
.appItem_Opinion_score{padding: 30px 0 10px 0;border-bottom: 1px solid #969696;margin-bottom: 15px;}


