.body{ padding:30px 0; background:#fff; box-shadow:0 10px 30px rgba(0,0,0,0.3); margin-bottom:50px;}
.ieOld .body{ border:1px solid #e5e5e5; border-top:0;}


.header .logo a{ width:205px; height:58px; display:block; background:url(../images/logo.png) 0 center no-repeat;}
.header .logo a:hover,
.header .logo a:active{ background-position:0 center;}
.header .contact{ float:right; width:151px; height:33px; margin-top:14px; background:url(../images/contactPhone.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden;}

.topInfo{ height:500px; background:url(../images/wood.jpg); border-bottom:1px solid #fff; box-shadow:0 10px 20px rgba(0,0,0,0.1); position:relative; overflow:hidden;}
.topInfo .item{ height:500px; width:960px; margin:0 auto; position:absolute; top:0; left:50%; margin-left:-480px;}
.topInfo .item div{ position:absolute;}
.topInfo .item div a.contact{ width:133px; height:40px; display:block; }
.topInfo .item div a.contact:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}

.topInfo .item1{ display:none;}
.topInfo .item1 .a1{ width:570px; height:638px; left:-30px; top:-68px; z-index:1;}
.topInfo .item1 .a2{ width:207px; height:298px; left:-80px; top:200px;}
.topInfo .item1 .a3{ width:474px; height:304px; left:490px; top:40px;}
.topInfo .item1 .a4{ width:133px; height:40px; left:660px; top:390px;}

.topInfo .item2{ display:none;}
.topInfo .item2 .a1{ width:409px; height:159px; left:10px; top:130px;}
.topInfo .item2 .a2{ width:469px; height:408px; left:470px; top:30px;}
.topInfo .item2 .a3{ width:133px; height:40px; left:150px; top:360px;}

.topInfo .item3{ display:none;}
.topInfo .item3 .a1{ width:468px; height:569px; left:500px; top:-30px;}
.topInfo .item3 .a2{ width:469px; height:408px; left:40px; top:120px;}
.topInfo .item3 .a3{ width:133px; height:40px; left:180px; top:330px;}

.topInfo .ctrl{ position:absolute; width:960px; left:50%; margin-left:-480px; text-align:center; bottom:10px; z-index:9;}
.topInfo .ctrl a{ width:12px; height:12px; display:inline-block; margin:0 6px; background-image:url(../images/iconDot20120813.gif); background-repeat:no-repeat; background-position:0 0; text-indent:-99em; overflow:hidden;}
.topInfo .ctrl a:hover{ background-position:0 -20px;}
.topInfo .ctrl a.current{ background-position:0 -40px;}
.ie7 .topInfo .ctrl{ margin-left:110px;}




.box{ width:876px; height:398px; margin:0 auto 30px auto; background:url(../images/box2Bg.jpg) 0 0 no-repeat;}
.box .ctrl{ width:128px; float:left; padding-top:5px; position:relative; z-index:10;}
.box .ctrl a{ width:128px; height:49px; display:block; line-height:49px; text-align:center; font-size:14px; }
.box .ctrl a.current{ width:206px; height:49px; padding:7px 0; display:block; position:absolute; left:-30px; top:0; background:url(../images/arrowBg.png) 0 0 no-repeat;}
.box .ctrl a.current span{ width:128px; margin-left:39px; height:49px; text-indent:-99em; overflow:hidden; display:block; background:url(../images/arrowText.gif) 0 0 no-repeat;}
.ie6 .box .ctrl a.current span{ background-position:-20px 0;}
.box .content{ position:relative; width:740px; height:393px; margin:4px 0 0 4px; float:left; overflow:hidden;}
.box .content .item{ position:absolute; left:0; top:0; width:740px; height:393px; display:block;}
.box .content .item div{position:absolute; font-size:18px; color:#000;}

.box .content .item1 .a1{left:100px;top:30px;}
.box .content .item1 .a2{left:337px;top:80px;}
.box .content .item1 .a3{left:140px;top:200px;}
.box .content .item1 .a4{left:240px;top:200px;}
.box .content .item1 .a5{left:340px;top:200px;}
.box .content .item1 .a6{left:440px;top:200px;}
.box .content .item1 .a7{left:540px;top:200px;}
.box .content .item1 .a8{left:0;top:340px; width:740px; text-align:center;}

.box .content .item2 .a1{left:140px;top:80px;}
.box .content .item2 .a2{left:450px;top:80px;}
.box .content .item2 .a3{left:450px;top:130px;}
.box .content .item2 .a4{left:450px;top:180px;}
.box .content .item2 .a5{left:450px;top:230px;}
.box .content .item2 .a6{left:450px;top:280px;}
.box .content .item2 .a7{left:0;top:340px; width:740px; text-align:center;}

.box .content .item3 .a1{left:25px;top:70px; z-index:3;}
.box .content .item3 .a2{left:256px;top:70px; z-index:2;}
.box .content .item3 .a3{left:486px;top:70px; z-index:1;}
.box .content .item3 .a4{left:0;top:340px; width:740px; text-align:center;}

.box .content .item4 .a1{left:120px;top:110px; z-index:4;}
.box .content .item4 .a2{left:240px;top:90px; z-index:3;}
.box .content .item4 .a3{left:340px;top:75px; z-index:2;}
.box .content .item4 .a4{left:430px;top:60px; z-index:1;}
.box .content .item4 .a5{left:0;top:340px; width:740px; text-align:center;}

.box .content .item5 .a1{left:180px;top:30px; z-index:1;}
.box .content .item5 .a2{left:410px;top:140px; z-index:2;}
.box .content .item5 .a3{left:210px;top:270px; z-index:3;}
.box .content .item5 .a4{left:0;top:340px; width:740px; text-align:center; z-index:4;}

.box .content .item6 .a1{left:540px;top:110px; z-index:6;}
.box .content .item6 .a2{left:440px;top:110px; z-index:5;}
.box .content .item6 .a3{left:340px;top:110px; z-index:4;}
.box .content .item6 .a4{left:240px;top:110px; z-index:3;}
.box .content .item6 .a5{left:140px;top:110px; z-index:2;}
.box .content .item6 .a6{left:40px;top:110px; z-index:1;}
.box .content .item6 .a7{left:0;top:35px; width:740px; text-align:center;}



.boxB{ height:280px;}
.boxB .item{ width:250px; height:250px; float:left; display:inline; margin:20px; text-indent:-999em; overflow:hidden; }
.boxB .item1{ width:940px; height:15px; margin:0 auto; background:url(../images/boxB_1.jpg) 0 0 no-repeat;}
.boxB .item2{ margin-left:55px; }
.boxB .item2 a{ width:250px; height:250px; display:block; background:url(../images/boxB_2.jpg) 0 0 no-repeat;}
.boxB .item3 a{ width:250px; height:250px; display:block; background:url(../images/boxB_3.jpg) 0 0 no-repeat;}
.boxB .item4 a{ width:250px; height:250px; display:block; background:url(../images/boxB_4.jpg) 0 0 no-repeat;}









/*footer*/
.footerBig .inner { width:900px;}
.footerBig .inner .contact { display:none;}
