@charset "utf-8";

/*body{ background-position:0 -77px;}
.main .header{ display:none;}*/

.side484 .conBigMgzShow .info a.iconShare{ background-image:url(../images/iconShareTools.gif); background-position:30px -80px;}