@charset "utf-8";
body{ max-height:2000px; overflow:hidden;}
.side484 .conBigMgzShow .info a.iconShare{ margin-top:0; text-indent:-999em; width:106px; height:24px; padding:0; margin-left:0; display:inline-block; float:left; margin-right:4px; background:url(../images/icon/sns32/weibo_publish_button_24.gif) 0 0 no-repeat;}
